.App {
  text-align: center;
}

.alert-message {
  margin-top: 10px;
  font-size: 1rem;
  background: #ffc0cb7a;
  padding: 0.5% 2%;
  color: #342828;
  border-radius: 5px;
  text-align: center;
}

.navbar {
  background-color: #00174bdb;
}

.time {
  font-size: 1.3rem;
}

.us-time {
  font-size: 1.7rem;
  font-weight: bold;
}

.set-difference-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .us-time {
    display: block;
  }
}

@media screen and (max-width: 770px) {
  .set-time {
    margin-left: 10px;
  }

  .set-difference-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
  }
}

@media screen and (max-width: 572px) {
  .time {
    text-align: right !important;
  }
}
